.tamano-tarjetas {
  background-color: aquamarine;
}

.font {
  font-size: 13px;
}

.tamano {
  font-size: 10px !important;
}

.tarjetas {
  height: auto;
  width: 150px;
}

.webpay {

  height: 150px;
  width: 150px;

}

.spinner-wrapper {

background-color: #111111;
position: Fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 9999;
display: flex;
justify-content: center;
align-items: center;
transition: all 0.2s;

}

.spinner-border{

height: 60px;
width: 60px;

}

/*
.left {
  background-color: aquamarine; 
}

.rigth {
   background-color: rgb(0, 255, 64); 
}
*/

.pagar {
  background-color: aliceblue;
}

.tarjeta {
  height: 100px;
  background-color: aliceblue;
}

.pasajero {
  background-color: aliceblue;
}

.total {
  height: 220px;
  background-color: aliceblue;
}

.compra {
  height: 350px;
}

.adicional {
  height: 130px;
  background-color: aliceblue;
}

.hospedaje {
  height: 130px;
  background-color: aliceblue;
}

.input {
  margin-top: 10px;
}

.color {
  background-color: skyblue;
}

.color-body {
  background-color: rgb(255, 255, 255);
}

.flex {
  display: flex;
  justify-content: space-between;
}

.plane {
  font-size: 20px;
}

.bg-custom-gray {
  background-color: #bdbdbd;
}

.bg-custom-box {
  background-color: aliceblue;


}