.tamano-tarjetas {
  background-color: aquamarine;
}

.font {
  font-size: 13px;
}

.tamano {
  font-size: 10px !important;
}

.tarjetas {
  height: auto;
  width: 150px;
}

.webpay {

  height: 150px;
  width: 150px;

}

.preloader-wrapper {

position: fixed;
top: 0;
left:0;
width:100%;
height:100%;
background: #111111;
display: flex;
align-items: center;
justify-content:center;
transition: all 2.0s ease;

}

.fade-out-animation {

opacity: 0;
visibility: hidden;

}

/*
.left {
  background-color: aquamarine; 
}

.rigth {
   background-color: rgb(0, 255, 64); 
}
*/

.pagar {
  background-color: aliceblue;
}

.tarjeta {
  height: 100px;
  background-color: aliceblue;
}

.pasajero {
  background-color: aliceblue;
}

.total {
  height: 220px;
  background-color: aliceblue;
}

.compra {
  height: 350px;
}

.adicional {
  height: 130px;
  background-color: aliceblue;
}

.hospedaje {
  height: 130px;
  background-color: aliceblue;
}

.input {
  margin-top: 10px;
}

.color {
  background-color: skyblue;
}

.color-body {
  background-color: rgb(255, 255, 255);
}

.flex {
  display: flex;
  justify-content: space-between;
}

.plane {
  font-size: 20px;
}
